#headerImage {
    height: 200px;
    width: 100%;
    overflow: hidden;
    background-color: black;
    
    img {
        position:relative;
        top: -850px;
        filter: blur(10px);
    }
}

#headerText {
    color:white;
    margin: 25px;
    top: 50px;
    position:absolute;
}