<div class="login_form">
    <section class="login-wrapper">
        <form id="login" method="post" action="#">
            <label for="username">User Name</label>
            <input  required name="login[username]" type="text" autocapitalize="off" autocorrect="off"/>
            
            <label for="password">Password</label>
            <input class="password" required name="login[password]" type="password" />
            <button type="submit">Sign In</button>
        </form>
    </section>
</div>