<div class="login_form">
    <section class="login-wrapper">
        <label for="username" >User Name</label>
        <input [(ngModel)]="username" required name="login[username]" type="text" autocapitalize="off" autocorrect="off"/>
        
        <label for="password">Password</label>
        <input class="password" required name="login[password]" [(ngModel)]="password" type="password" />
        <button (click)="login()">Sign In</button>
        <div class="error" [class.hidden]="!hasError">{{ errorText }}</div>
    </section>
</div>