<div id="menu">
    <button class="menu-item start fancy" routerLink="/">
        <p>Home</p>
    </button>

    <button class="menu-item end fancy" routerLink="/login" *ngIf="!loggedIn">
        <p>Login</p>
    </button>

    <button class="menu-item end fancy" routerLink="/logout" *ngIf="loggedIn">
        <p>Logout</p>
    </button>

    <button class="menu-item end fancy" *ngIf="loggedIn && isAdmin" routerLink="/admin">
        <p>Admin</p>
    </button>
    
    <button id="cartinfo" class="menu-item end fancy" routerLink="/cart">
        <app-cartinfo></app-cartinfo>
    </button>
</div>