#menu {
    list-style: none;
    margin: 15px 25px;
    display: flex;
    justify-content: flex-start;
    .start, .end {
        align-self: flex-start;
    }

    .spacer {
        flex-grow: 2;
    }

    .end {
        align-self: flex-ends;
    }
}