<div id="menu">
    <div class="menu-item start">
        <a href="/">Home</a>
    </div>
    <div class="menu-item start" *ngFor="let item of menuItems">
        <a href="{{item.url}}">{{item.title}}</a>
    </div>

    <div class="menu-item spacer">

    </div>

    <div class="menu-item end" >
        <a href="/login" *ngIf="!loggedIn">Login</a>
        <a href="/logout" *ngIf="loggedIn">Logout</a>
    </div>

    <div class="menu-item end" *ngIf="loggedIn">
        <a href="/admin">Admin</a>
    </div>
</div>