.product-detail {
    display:flex;
    
    > figure 
    {
        margin-left: 5px;

        > img {
            width: 400px;
        }
    }

    article {
        margin-left: 15px;
    }

    input[type='number'] {
        width: 25px;
    }
    button {
        margin: 5px;
        padding: 3px 5px;
        cursor: pointer;
    }
}

