

.admin-container {
    display: flex;
    gap: 100px;

    .sidebar {
        margin-left: 50px;
        
        .active {
            border: 1px solid green;
        }

        ul > li {
            list-style: none;
        }
    }
}
