img {
    height:  300px;
    margin: auto;
    display:inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.product-info {
    width: 250px;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 3px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    cursor: pointer;
    .product-image {
        width:240px;
        height: 240px;
        margin: auto;
        overflow: hidden;
    }
}